.bloque-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloque-secundario {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    border-bottom: solid black 1px;
    width: 80%;
}

.bloque-secundario a {
    text-decoration: none;
    color: black;
    margin-right: 3px;
}

.table-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.table {
    display: inline-table;
    overflow: hidden;
    table-layout: auto;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    margin-bottom: 10px;
}

.table thead {
    background-color: #008091;
    color: #ffffff;
}

.table th,
.table td {
    padding: 0.8rem;
}

.table td {
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tbody tr:hover {
    background-color: #eee;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    font-size: 21px;
}

.actions svg {
    cursor: pointer;
    color: #00528F;
}

.btns-table {
    display: flex;
    justify-content: right;
    margin-right: 130px;
    margin-bottom: 50px;
}

.btns {
    margin-top: 1rem;
    border: none;
    background-color: #00C4DF;
    color: #fff;
    padding: 10px 20px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
}

.btns-add {
    color: rgb(255, 255, 255);
    background-color: #00C4DF;
    border: none;
    font-family: 'Ubuntu';
    border-radius: 56px;
    padding: 10px;
    align-items: center;
    display: flex;
    font-weight: 700;
    height: fit-content;
}

.btns-add svg {
    margin-right: 7px;
}

.btns-delete-filters {
    color: rgb(255, 255, 255);
    background-color: #FC5959;
    border: none;
    font-family: 'Ubuntu';
    border-radius: 56px;
    padding: 10px;
    align-items: center;
    display: flex;
    font-weight: 700;
    height: fit-content;
}

.btns-delete-filters svg {
    margin-right: 7px;
    color: white;
}

.btns-close {
    margin-top: 1rem;
    border: none;
    background-color: #FC5959;
    color: #fff;
    padding: 10px 20px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.btns-step {
    margin-top: 1rem;
    border: none;
    background-color: #ffffff;
    color: #000 !important;
    padding: 10px 20px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.search-checkbox {
    display: flex;
    width: 80%;
    margin-bottom: 20px;
}

.bloque-search {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.search {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    padding: 0px 10px;
    border: none;
    width: 280px;
    color: #00528F;
}

.search-input:focus {
    outline: none;
    border: none;
}

.search-input:focus-visible {
    outline: none;
    border: none;
}

.search-input:active {
    outline: none;
    border: none;
}

/* .icon {
    position: absolute;
    left: 10px;
} */

/* .fa-xmark {
    position: absolute;
    right: 300px;
} */

.switches {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 85%;
    justify-content: flex-start;
}

.form-check {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    gap: 10px;
}

.form-switch .form-check-input {
    width: 4em;
    height: 2em;
}

.p-parraf {
    display: flex;
    justify-content: flex-start;
    width: 80%;
}

.select-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 0rem !important;
}

.input-and-btn {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.input-and-btn select {
    width: 400px;
    padding: 10px;
    border-radius: 50px;
}

.form-check-input:checked[type=checkbox] {
    background-color: #00C4DF;
    margin-left: 10px;
    margin-right: 0;
}

.form-check-input[type=checkbox] {
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 0;
}

.active-users {
    width: 80%;
    display: flex;
    align-items: center;
}

.form-field-error-msg {
    margin-left: 5px;
    color: #FC5959;
    font-weight: bold;
}

input:disabled {
    color: #ccc;
    background-color: transparent;
}

.first-column {
    font-weight: bold;
}

.table-row-status-inactive {
    color: #888;
    background-color: #ddd;
}

.table-row-status-blocked {
    background-color: #ffdede;
}

.form-group .select-multiple {
    height: 100px;
}

.form-group .select-multivalue {
    height: 100px;
}

.search-div {
    display: flex;
    align-items: center;
    border: solid 1px #00528F;
    padding: 0 10px;
    border-radius: 56px;
    width: 500px;
    height: 45px;
}

.message-min-popup .password-view {
    margin-top: 10px;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.message-min-popup .btns-container {
    text-align: center;
}