.bloque_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 80%;
    align-items: flex-start;
    margin: auto;
}

h2{
    margin: 50px 0px 10px 0px
}

.div-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.div-cards img{
    width: auto;
    height: 120px;
}

.div-cards a{
    text-decoration: none;
}