.cards{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 50px;
    transition: 0.5s;
    box-shadow: 8px 9px 20px #00000073;
    color: rgb(0, 0, 0);
    width: min-content;
    height: 290px;
    margin: 10px 10px 10px 12px;
}
.cards:hover{
    background: #00528f;
    color: rgb(255, 255, 255);
}

p{
    margin-top: 1rem !important;
}