body{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu';
    background-color: white;
}

.header{
    background-color: #002447;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    align-items: center;
    box-shadow: 2px 5px 17px 1px rgba(0, 0, 0, 0.45)
}

#logo-empresa{
    width: auto;
    height: 24px;
}

.login-wrapper {
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gif{
    width: 50%;
}

@media (max-width: 768px) {
    #gif{
        width: 40%;
    }
}

form{
    border-radius: 15px;
    background: linear-gradient(90deg, #002447 0.34%, #008091 99.86%);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.45);
    padding: 45px 30px 45px 30px;
    color: #fff;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
}

@media only screen and (max-width: 1700px) {

    form{
        padding: 30px 30px 30px 30px;
        gap: 20px;
    }

    .form-control{
        font-size: 16px;
        border-radius: 6px;
        background-color: #fff;
        width: 350px;
        border: none;
    }
}

@media only screen and (max-width: 1366px) {

    form{
        padding: 30px 30px 30px 30px;
        gap: 20px;
    }

    .form-control{
        font-size: 16px;
        border-radius: 6px;
        background-color: #fff;
        width: 350px;
        border: none;
    }
}

@media only screen and (max-width: 1024px) {
    form{
        padding: 30px 30px 30px 30px;
        gap: 15px;
    }

    .form-control{
        font-size: 16px;
        border-radius: 6px;
        background-color: #fff;
        width: 300px;
        border: none;
    }
}

form h2{
    text-align: center;
    font-weight: 500;
    font-size: 32px;
}


.login-wrapper .form-group-login {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
}

.form-control{
    padding: 12px 12px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #fff;
    width: 400px;
    border: none;
}

.form-control:focus{
    outline:none;
} 

.login-wrapper .form-group-login input {
    margin-right: 0;
}

.authFail {
    color: red;
}

.btn-login{
    border: none;
    background-color: #00C4DF;
    color: #fff;
    padding: 10px 20px;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
}

.title-login{
    display: flex;
    justify-content: center;
    color: #002447;
    font-weight: bold;
}